<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
    <mat-icon color="warn">delete</mat-icon>
    <h1>Delete Bookmark</h1>
  </div>
  <span class="bookmark-deletion-content">
    You are about to delete the bookmark "{{ name }}" -- Continue?
  </span>
  <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="16px">
    <button mat-button (click)="onCancel()">CANCEL</button>
    <button mat-flat-button (click)="onConfirm()" color="warn">CONTINUE</button>
  </div>
</div>
