@use '~@angular/material' as mat;

.bookmark-card {
  padding: 16px;
  border-radius: 8px;
  @include mat.elevation(2);
  @include mat.elevation-transition();
  &:hover {
    @include mat.elevation(3);
  }
}

.bookmark-card-name {
  font-size: 20px !important;
  font-weight: bold;
}

.bookmark-card-url {
  font-size: 16px;
  color: #aaa;
}

.bookmark-card-group {
  padding: 4px 16px;
  background: #e91e6332;
  border-radius: 4px;
  font-weight: 300;
}

.bookmark-card-description {
  font-size: 12px;
  color: #aaa;
  font-weight: 300;
  width: 75%;
}
