<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="16px"
  class="bookmark-card"
>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="bookmark-card-name">{{ data?.name }}</span>
      <div
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutGap="16px"
        class="bookmark-card-actions"
      >
        <button
          mat-icon-button
          color="primary"
          [cdkCopyToClipboard]="data?.url || ''"
          (click)="onCopy()"
        >
          <mat-icon color="primary">content_copy</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="edit.emit()">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete.emit()">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </div>
    </div>
    <span class="bookmark-card-url">{{ data?.url }}</span>
    <span class="bookmark-card-description">
      {{ (linkPreview$ | async)?.description }}
    </span>
  </div>

  <div fxLayout="row" fxLayoutAlign="end end" *ngIf="data?.group">
    <span class="bookmark-card-group">{{ data?.group | titlecase }}</span>
  </div>
</div>
