<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="32px">
  <div
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxLayoutGap="16px"
    [formGroup]="bookmarkForm"
  >
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
      <mat-icon *ngIf="mode === 'add'; else editIcon" color="primary">
        add
      </mat-icon>
      <ng-template #editIcon>
        <mat-icon color="primary">edit</mat-icon>
      </ng-template>
      <h1>{{ mode | titlecase }} Bookmark</h1>
    </div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error>A name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>URL</mat-label>
      <input matInput formControlName="url" />
      <mat-error *ngIf="bookmarkForm.get('url').hasError('required')">
        A URL is required
      </mat-error>
      <mat-error *ngIf="bookmarkForm.get('url').hasError('pattern')">
        A valid URL is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Group</mat-label>
      <mat-select formControlName="group">
        <mat-option *ngFor="let group of bookmarkGroups" [value]="group">
          {{ group | titlecase }}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="!!!bookmarkForm?.value?.group">
        This bookmark will be "ungrouped"
      </mat-hint>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="16px">
    <button mat-button (click)="onCancel()">CANCEL</button>
    <button
      mat-flat-button
      *ngIf="mode === 'add'; else edit"
      color="primary"
      (click)="onAddOrEdit()"
    >
      ADD
    </button>
    <ng-template #edit>
      <button mat-flat-button (click)="onAddOrEdit()" color="primary">
        EDIT
      </button>
    </ng-template>
  </div>
</div>
