<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="16px"
  class="bookmark-list"
>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">
    <h1>Bookmark Manager</h1>
    <mat-divider> </mat-divider>
  </div>

  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="16px">
    <input-chips
      fxFlex
      label="Filter by group"
      [options]="groups"
      (activeChips)="onActiveChipsChange($event)"
    ></input-chips>
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">
    <bookmark-card
      *ngFor="let bookmark of bookmarks$ | async"
      [data]="bookmark"
      (edit)="onEditBookmark(bookmark)"
      (delete)="onDeleteBookmark(bookmark)"
    ></bookmark-card>
  </div>
  <button mat-fab color="primary" (click)="onAddBookmark()">
    <mat-icon>add</mat-icon>
  </button>
</div>
